<div class="lifestream container-fluid" ng-class="config.theme">
    <ul class="row" id="lifestream-container">
        <li ng-hide="!items.length" ng-repeat="item in items |filter: item!==undefined| limitTo: config.limit " class="lifestream-item atom col-xs-10 col-sm-5 col-md-3"  ng-class="item | serviceClassFilter" 
        ng-include="item | serviceTemplateFilter"></li>
    </ul>
    <div class="row col-xs-10 " cg-busy="angularBusyConfig"></div>
</div>

<script type="text/ng-template" id="default-template">
<p ng-bind-html="item.context.content"></p> <small class="view_original"><a target="_blank" ng-href="{{item.context.complete_url}}"> >>view original</a></small>
</script>

<!-- how to conrol scope here? in ng-include -->
<script type="text/ng-template" id="twitter-template">
<div class="publisher-container"><strong>{{item.context.publisher.name}}</strong> <span class="publisher">@{{item.context.publisher.screen_name}}</span></div>
<p class="content" ng-bind-html="item.context.tweet"></p> 
<div ng-if="item.context.media" class="media"><a target="_blank" ng-href="{{item.context.media}}:large">
<img   ng-src="{{item.context.media}}"></img></a></div>
<small class="view_original">
<a target="_blank" ng-href="{{item.context.complete_url}}">
>>view on Twitter</a></small>
</script>

<script type="text/ng-template" id="facebook_page-template">
post on wall <a href="${link}">{{item.context.title}}</a>
</script>

<script type="text/ng-template" id="facebook-template">
<div class="publisher-container"><strong>{{item.context.publisher}}</strong> <small> posted in <a target="_blank" ng-href="{{item.groupUrl}}">FB Group</a> </small> </div>
{{item.context.content}}


<div ng-if="item.context.media"  class="media">
<a target="_blank" ng-href="{{item.context.media.link}}">
<div ng-if="item.context.media.link">{{item.context.media.linkDisplayed}}</div>
<img  ng-src="{{item.context.media.thumbnail}}"></a></div>
<small class="view_original">
<a target="_blank" ng-href="{{item.url}}">
>>view on Facebook</a></small>
</script>


<script type="text/ng-template" id="github_org-template">
<p ng-bind-html="item.context.content"></p>
</script>

